---
import BaseLayout from "../../layouts/BaseLayout.astro";

const allPosts = await Astro.glob("../posts/memo-math-*.md*");
const allPosts_books = await Astro.glob("../posts/memo-math_books*.md*");
const pageTitle = "メモ";
export const category ="数学";
---
<BaseLayout pageTitle={pageTitle}>
  <ul>
    <li>記事</li>
    <ul>{allPosts.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}［{post.frontmatter.pubDate.toString().slice(0,10).replace(/-0?/g, "/")}］</a></li>)}</ul>
    <li>読書メモ</li>
    <ul>{allPosts_books.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}［{post.frontmatter.pubDate.toString().slice(0,10).replace(/-0?/g, "/")}］</a></li>)}</ul>
  </ul>
</BaseLayout>